
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="link-wrapper">
    <a class="basic-link" href="/find">Find</a>
    <a class="basic-link" href="/results">Results</a>
</div>