<!DOCTYPE html>
<html ng-app="mugMatcher" ng-cloak>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewBag.Title - MugMatcher</title>
		<link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
		<script src="/Scripts/angular.js" defer></script>
		<script src="/Scripts/main.js" defer></script>
		<script src="/Scripts/find.js" defer></script>
	    <script src="/Scripts/directives/scopeInit.js" defer></script>
        <script src="https://code.jquery.com/jquery-3.1.1.js"
                integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
                crossorigin="anonymous"></script>
	</head>
<body ng-controller="main">
<header>
    
</header>
@RenderBody()
</body>
</html>